:root {
    --cor-principal: #000dff;
    --cor-escura: rgba(49, 8, 255, 0.2);
    --cor-clara: rgb(191, 176, 252);
    --gradiente: 0 0 10px rgba(0, 38, 255, 0.8), 0 0 20px rgba(0, 38, 255, 0.6), 0 0 30px rgba(0, 38, 255, 0.4);
    --gradiente-escuro: 0 0 15px rgba(0, 38, 255, 0.6), 0 0 30px rgba(0, 38, 255, 0.4), 0 0 45px rgba(0, 38, 255, 0.2);
    --gradiente-claro:  0 0 15px rgba(0, 38, 255, 1), 0 0 30px rgba(0, 38, 255, 0.8), 0 0 45px rgba(0, 38, 255, 0.6);
    --cor-texto: #e2e2e2;
    --fonte-titulos: "Krona One", serif;
    --fonte-paragrafos: "Quicksand", serif;
}