:root {
    --azul-escuro: #011936;
    --azul-claro: #2c8c99;
    --rosa-claro: #db2955;
    --rosa-escuro: #8d0416;
    --branco: #f8f2dc;
    --fonte-titulos: "Krona One", serif;
    --fonte-paragrafos: "Quicksand", serif;
}
