@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Quicksand:wght@300..700&display=swap');

body {
    background-image: url(./background.png);
    color: #000000;
    box-sizing: border-box;
    width: 100%;
    background-size: auto;
    display: flex;
    justify-content: center;  
    align-items: center;    
    height: 100vh;            
    margin: 0;               
}

.container__conteudo {
    background-color: #202020;
    opacity: 0.95;
    display: flex;
    width: 900px;
    max-height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 24px;
    border: 3px solid #000000;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 45px rgba(255, 255, 255, 0.2);
    background-size: 100% 100%;
    overflow: hidden;
    color: #f6f6f6;
    gap: 20px;
    transition: 0.5s;
    overflow-y: auto;
    margin: 60px 0; 
    scrollbar-width: none;
}

.container__conteudo::-webkit-scrollbar {
    display: none;
}

.container__conteudo:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 45px rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.container__campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.container__input:hover, .container__input__salario:hover {
    background-color: #00d9ff;
    color: #000000;
    transition: 0.55s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container__campo.added {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.container__campo.removing {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.container__input__toggle {
    display: flex;
    width: 48%;
}

.container__input__salario {
    width: 10em;
    border-radius: 13px;
    background-color: #edecec;
    border: none;
    color: #050505;
    font-size: 1.25rem;
    padding: 5px;
    padding-left: 15px;
    margin-left: 25px;
    font-family: "Quicksand", serif;
    transition: 0.55s;
}

.container__input__salario:disabled {
    background-color: #f3f3f3;
}

.toggle-input {
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.toggle-input:hover {
    background-color: #000000;
}

.container__conta {
    width: 10em;
    border-radius: 13px;
    background-color: #edecec;
    border: none;
    color: #050505;
    font-size: 1.25rem;
    padding: 5px;
    padding-left: 15px;
    margin-left: 122px;
    font-family: "Quicksand", serif;
    transition: 0.55s;
}

h1 {
    font-family:"Krona One", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    place-self: center;
}

h2 {
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    align-items: center;
    place-self: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Quicksand", serif;
}

strong {
    color: #00d9ff;
}

.container__botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    width: 900px;
}

.container__botao {
    background: #00d9ff;
    color:#303030;
    padding: 16px 24px;
    font-size: 1.5rem;
    width: 290px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 3%;
    transition: 0.75s;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px; 
    font-family: "Quicksand", serif;
}

.container__botao__adicionar, .container__botao__remover {
    background: #4d4d4d;
    color:#75eaff;
}

.container__botao__calcular:hover {
    background: #75eaff;
    color:#000;
    transition: 0.75s;
}

.container__botao__adicionar:hover, .container__botao__remover:hover {
    background: #75eaff;
    color:#000;
    transition: 0.75s;
}


.texto__paragrafo {
    color: #fffafa;
    font-family:"Quicksand", serif;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.numero {
    color: #00d9ff;
    transition: 0.5s;
}

.numero:hover {
    color: #d1f8ff;
    text-shadow: 0 0 10px rgba(0, 255, 229, 0.6), 0 0 20px rgba(0, 255, 229, 0.4), 0 0 30px rgba(0, 255, 229, 0.2);
    transition: 0.5s;
}

.conteudo__footer {
    background: linear-gradient(#606060,#000);
    display: flex;
    justify-content: center;
    padding: 2px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 45px rgba(255, 255, 255, 0.2);
}

.footer__texto {
    font-family: "Quicksand", serif;
    color: #00d9ff;
    font-weight: 500;
    font-size: 1.125rem;
}

.footer__texto__strong {
    background: linear-gradient(#ffffff,#00d9ff);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 1.125rem;
}

.fa-music {
    display: inline-block;
    animation: none;
    margin-left: 5px;
    color: #f6f6f6;
}

.fa-music:hover {
    animation: spin 0.75s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 1100px) {
    .container__conteudo, .container__botoes {
        width: 85vw;
    }

    h1, h2 {
        text-align: center;
    }
}

@media (max-width: 880px) {
    .container__botoes {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .container__botao {
        border-radius: 24px;
    }}

@media (max-width: 666px) {
    .container {
        margin: 0 5vw;
    }
    .container__conta {
        margin-right: 130px;
    }

    .container__input__salario {
        width: 55vw;
    }

    .container__input::placeholder, .container__input__salario::placeholder {
        color: transparent;
        transition: 0.5s;
    }

    .container__campo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .container__input__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}